:root{
    --one-text-color: #757575;
    --two-text-color:#212121; 
    --accent-color:#2196F3;
    --two-accent-color:#ffffff;
}


/*header*/
/*.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid rgb(185, 126, 15);
}*/

body{
    color: var(--one-text-color);
    
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
} 
.paig-header {
    background-color: var(--two-accent-color);
}
.logo { 
    color: inherit;
    color: var(--accent-color);

    
    text-decoration: none;
    
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo:focus,
.logo:hover{
    text-decoration:var(--accent-color);
}
.span {
    color: var(--two-text-color);
}
ul{
    list-style: none;
}
.site-nav .link{
color: var(--two-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent-color);
    text-decoration:var(--accent-color);

}
.auth-nav .link{
    color: var(--one-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus{
    color: var(--accent-color);
    text-decoration:var(--accent-color);

}
.site-nav .link.current{
    color: var(--accent-color);
}
.paig-header .link{
    text-decoration: none;}
/*hero*/

.hero{
    background-color: #2F303A;
}
.hero-title{
    color: var(--two-accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase
}
.button{
    padding: 10px 32px;
    font-family: inherit;
    color: var(--two-accent-color);
    background-color: var(--accent-color);
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    text-align: center;
}

/*main*/ 

.background{
    background-color: #F5F4FA;
}
.title {
    color: var(--two-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase
}

.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}
.name{
    color: var(--two-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.subtitle{
    color: var(--two-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
}
/*footer*/

footer{ 
background-color:  #2F303A;
}
.span-footer{
    color: var(--two-accent-color);
}
.address{
    font-style: normal;
    color: var(--two-accent-color);
    font-weight: 500;
}
.address:hover,
address .address:focus{
    text-decoration:var(--accent-color);
}
footer .auth-nav .link{
    text-decoration: none;
    color: #ffffff60;
}                       

/* Portfolio*/
.navigation{
    padding: 8px 22px;
    border: none;
    font-family: inherit;
    color: var(--two-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
}
.navigation:hover,
.navigation:focus {
    color: var(--two-accent-color);
    background-color: var(--accent-color);
}
.job .title{
font-size: 18px;
line-height: 2;
}
